.Steps {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Steps .react-datepicker-wrapper {
  width: 100%;
}

.Steps .react-datepicker__day--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.Steps-form {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}

.Steps-field {
  margin-bottom: 20px;
}

.Steps-field label {
  margin-bottom: 8px;
  display: block;
}

.Steps-field input {
  width: 100%;
  padding: .75em 1em;
  border-radius: 2px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  font: inherit;
}

.Steps-button {
  width: 100%;
  padding: .75em 1em;
  border-radius: 2px;
  border: 1px solid #000;
  box-sizing: border-box;
  background: #fff;
  appearance: none;
  color: #000;
  font: inherit;
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease;
}

.Steps-button[disabled] {
  cursor: default;
}

.Steps-button:not([disabled]):hover {
  background-color: #000;
  color: #fff;
}

.Steps-table {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0;
}

.Steps-table th,
.Steps-table td {
  padding: 1em 0;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.Steps-table tbody tr:last-child td {
  border-bottom: 0;
}

.Steps-table .Steps-actionButton {
  margin: 4px;
}

.Steps-actionButton {
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  background: 0;
  font-size: 14px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .Steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .Steps-form {
    margin-left: -15px;
    flex-direction: row;
    align-items: flex-end;
  }

  .Steps-field {
    padding-left: 15px;
    margin-bottom: 0;
    flex: 1;
    box-sizing: border-box;
  }

  .Steps-submit {
    padding-left: 15px;
    flex-shrink: 0;
    box-sizing: border-box;
  }

  .Steps-button {
    min-width: 80px;
  }
}