body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Users {
  max-width: 700px;
  padding: 20px;
}

.List {
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #eee;
  border-radius: 3px;
  list-style: none;
}

.List li {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: border-color .15s ease, background-color .15s ease, color .15s ease;
}

.List .List-item--active {
  cursor: default;
}

.List li:last-child {
  border-bottom: 0;
}

.List li:hover,
.List .List-item--active {
  background-color: #1d83f7;
  color: #fff;
}

.List .List-loader {
  padding: 50px 15px;
  background-color: transparent !important;
  color: #000 !important;
  text-align: center;
  cursor: default;
}

.List-loader svg {
  vertical-align: middle;
}

.Details {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #eee;
}

.Details-loader {
  padding: 50px 20px;
  text-align: center;
}

.Details-loader svg {
  vertical-align: middle;
}

.Details img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.Details img + h5,
.Details img + p {
  border-top: 0;
}

.Details h5,
.Details p {
  margin: 0;
  padding: 15px 20px;
  border-top: 1px solid #eee;
}

.Details h5:first-child,
.Details p:first-child {
  border-top: 0;
}

.Details h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

@media screen and (min-width: 540px) {
  .Users {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .List {
    margin-right: 20px;
    flex: 1;
  }

  .Details {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .List {
    width: 100%;
    max-width: 260px;
  }
}